body {
    font-family: "Segoe UI";
    background-color: black;
}

div.text-wrapper {
    background-color: black;
}

div.logo {
    padding: 0;
    background-image: url("logo.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

h1 {
    font-size: 1000%;
    text-align: center;
    padding-top: 19%;
    padding-bottom: 25%;
}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    padding: 2%;
    border: 3px solid cyan;
    color: white;
    background-color: black;
    border-radius: 10px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    padding: 2%;
    border: 5px solid cyan;
    color: black;
    background-color: cyan;
    border-radius: 10px;
}

button:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    padding: 2%;
    border: 5px solid cyan;
    color: white;
    background-color: black;
    border-radius: 10px;
}

button:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    padding: 2%;
    border: 5px solid white;
    color: cyan;
    background-color: black;
    border-radius: 10px;
}